.has-azul-truckado-color {color:#15427F}
.has-laranja-truckado-color {color:#E84F35}
.has-black-truckado-color {color:#455465}
.has-vermelho-truckado-color {color:#ff0000}

.has-azul-truckado-background-color {background-color:#15427F}
.has-laranja-truckado-background-color {background-color:#E84F35}
.has-black-truckado-background-color {background-color:#455465}
.has-vermelho-truckado-background-color {background-color:#ff0000}